/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Global CSS */



* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.nav-link, .login, .headline-info {
    color: rgb(155, 154, 154);
}

body {
    display: flex;
}


/* Nav Bar  */
.logo {
    height: 40px;
    width: 70px;
}

.extra-crunch {
    font-size: 10px;
}

.joinExtra {
    font-size: 0.9em;
}

.extra-crunch, .joinExtra {
    color: rgb(245, 165, 55);
}

.login, .extra-crunch {
    font-size: 20px;
}

.nav-link, .login, .joinExtra{
    text-decoration: none;
}




.nav-list {
    list-style: none;
    padding-left: 0;
    font-size: 26px;
}

.nav-list li {
    padding: 5px;
}


nav {
  margin-right: 50px;
    
}

/* extraCrunch Section */
#extraCrunch {
    max-width: 800px;
    
    
}


.extra-crunch {
    margin-bottom: 5px;
    font-size: 25px;
}

.headline {
    font-size: 45px;
    margin: 0;
}

.headline-info {
    font-size: 26px;
    margin-top: 2px;
    margin-bottom: 10px;
}

.author {
    font-weight: bold;
    margin: 5px 0;
}


/* News Section */

#news {
    max-width: 500px;
    
}

/* .sideNews {
    
} */

/* The Latest Section */
/* #theLatest {
   
} */

.wonderWoman {
    width: 400px;
    height: 200px;
}